*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 1000px;
}

body.debug header, body.debug main, body.debug footer, body.debug div{
    height: 50px;
}

.row:after{
    content: "";
    clear: both;
    display: table;
    
}

[class^="col-"]{
    float: left;
}

.col-100{
    width: 100%;
}

.bg-purple{
    background-color: rgb(145, 97, 145);
}

.bg-yellowish{
    background-color: rgb(228, 179, 111);
}

.mb-1{
    margin-bottom: 1em;
}


.bluishcontainer{
    background-color: blue;
}

.bg-blueish{
    background-color: aqua;
}